<div class="outer-container">
    <div class="inner-container">
      <div class="title-card">
        <h1>Vehicle Registeration</h1>
      </div>
      <div style="display: flex;flex-direction: column; flex-grow: 4">
        <div class="data-entry-area">
          <form>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label fw-bold"
                >Vehicle Name</label
              >
              <input
                type="text"
                placeholder="enter vehicle"
                class="form-control"
                id="exampleInputPassword1"
                [value]="name"
                [(ngModel)]="name"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label fw-bold"
                >Price</label
              >
              <input
                type="number"
                placeholder="enter price"
                class="form-control"
                id="exampleInputPassword1"
                [value]="salary"
                [(ngModel)]="salary"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="btn-group gap-2">
              <button
                type="submit"
                class="btn btn-success rounded"
                (click)="getEmpo()"
         
              >
                Save
              </button>
              <button
                type="submit"
                class="btn btn-primary rounded"
  
                (click)="updateEmpo()"
              >
                Update
              </button>
  
            </div>
            
          </form>
        </div>
      
      </div>

      <div class="data-listing-area">
        <h4>Vehicle list</h4>
        <table style="width: 100vh" >
          <tr>
            <th>ID</th>
            <th>brand</th>
            <th>Price</th>
            <th>edit</th>   
            <th>delete</th>
          </tr>

          <tr *ngFor="let data of empList">
            <td>{{ data.pid }}</td>
            <td>{{ data.pname }}</td>
            <td>{{ data.psalary }}</td>
            <td><i class="bi bi-pen" (click)="updateTogglor(data.pid)"></i></td>
            <td>
              <i class="bi bi-x-lg" (click)="removeEmpo(data.pid)"></i>
            </td>
          </tr>
        </table>
      </div>
      
    </div>
   
  </div>