<div
  class="input-group"
  style="flex-direction: row; gap: 20px; padding-left: 100px; padding-top: 50px"
>
<div class="form-floating mb-3">
  <input
    type="name"
    class="form-control rounded"
    id="floatingInput"
    placeholder="id"
    [value]="datas.id"
    [(ngModel)]="datas.id"
    [ngModelOptions]="{ standalone: true }"
    disabled="true"
  />
  <label for="floatingInput">id</label>
</div>
  <div class="form-floating mb-3">
    <input
      type="name"
      class="form-control rounded"
      id="floatingInput"
      placeholder="name@example.com"
      [value]="datas.name"
      [(ngModel)]="datas.name"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="floatingInput">Brand</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      class="form-control rounded"
      id="floatingPassword"
      placeholder="Password"
      [value]="datas.price"
      [(ngModel)]="datas.price"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="floatingPassword">Price</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      class="form-control rounded"
      id="floatingPassword"
      placeholder="Password"
      [value]="datas.rating"
      [(ngModel)]="datas.rating"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="floatingPassword">Rating</label>
  </div>
  <button
    class="btn btn-primary align-self-center rounded"
    style="width: 100px; margin-bottom: 20px"
    routerLink="/home"
    (click)="updateData()"
  >
    Update
  </button>
</div>
